<html>
    <head>
        <style>
            .navbar{
                background-color: black;
                width: 2000px;
                height: 50px;
                display: flex;
                align-self: center;
            }
        </style>
    </head>
    <body>
        <div class="navbar">
            <a href="" id="navbartextside">
                NBAS
            </a>
            <div>
            <a href="">
                example
            </a>
            <a href="">
                example
            </a>
            <a href="">
                example
            </a>
        </div>
        </div>
    </body>
</html>