<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Pokemon Search</title>
  </head>
  <body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Pokemon Search</h1>
                <form action="/pokemon" method="get" class="form-inline justify-content-center">
                    <div class="form-group mx-sm-3">
                        <label for="poke_name" class="sr-only">Pokemon name</label>
                        <input type="text" class="form-control" id="poke_name" name="poke_name" placeholder="Enter Pokemon name">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <div class="text-center mt-3">
                    <a href="/pokemons" class="btn btn-secondary">List of Pokemons</a>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>